@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: "Playfair Display", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8c0f8;
    font-weight: bold;
}

header {
    background-color: #f5b4dc;
    color: white;
    padding: 15px;
    font-size: 24px;
}

nav {
    background-color: #eea9cb;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
}

.gallery img {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
}

h1{
    font-size: 24px;
}

.carrossel {
    position: relative;
    width: 60%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    display: none;
}

.ativo {
    display: block;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

.prev { left: 10px; }
.next { right: 10px; }

button:hover {
    background: rgba(0, 0, 0, 0.8);
}


