body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f9fa;
}

header {
    background-color: #ff6bc6;
    color: white;
    padding: 15px;
    font-size: 24px;
}

nav {
    background-color: #f057a3;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
}

.gallery img {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
}

footer {
    background-color: #ee5dbe;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
